  {{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template blocks_alerts/content
    Example context (json):
    {
        "alert": [
         {
            "title": "This is the alert title",
            "description": "This is the news description",
            "link": "https://moodle.com/",
            "linktext": "Visit moodle.com"
         }
        ]
    }
}}

<div role="alert" class="alert alert-info px-2 border-info d-flex align-items-center"
  style="border: none; border-left: .3rem solid;" >
    <!-- Alert icon. -->
    <i class="fa-solid fa-triangle-exclamation fa-2xl text-primary ml-2"></i>
    <!-- Alert content. -->
    {{#alert}}
    <div class="ml-3">
        <strong>{{title}}</strong>
        <div>{{description}}
          {{#linktext}}
          <a href="{{link}}" target="_blank">{{linktext}}</a>
          {{/linktext}}
        </div>
    </div>
    {{/alert}}
</div>
